.bg-img {
    background: url("../../assets/img/header.svg");
    animation: change 2s infinite linear alternate;
}
@keyframes change {
    to {
        background-position:right;
    }
}
.bd-title {
    font-weight: 300;
}
.service:hover,
.service:focus {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important
}
.slick-next, .slick-prev {
    font-size: 0;
    position: absolute;
    line-height: 0;
    flex: 0 1 100%;
    display: flex !important;
    margin-left: auto;
    transform: translate(0,-50%);
    color: transparent;
    border: none;
    outline: 0;
    background: 0 0;
    width: 47px;
    height: 40px;
    top: -50px;
    transition: 0.2s ease-in-out;
}
.slick-prev {
    left: 75%;
}
@media (max-width: 768px) {
    .slick-prev {
        left: 70%;
    }
}
.slick-next {
    right: 0;
}
.slick-prev:before {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB3aWR0aD0iNjciIGhlaWdodD0iNDQiIHZpZXdCb3g9IjAgMCA2NyA0NCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMjMuNTkzNCA0My4xMDA5TDAuNzkxNTI5IDIyTDIzLjU5MzQgMC44OTkwOTRMMjUuNjMxIDMuMTAwOTVMNi44MjkzOSAyMC41TDY3IDIwLjVMNjcgMjMuNUw2LjgyOTM5IDIzLjVMMjUuNjMxIDQwLjg5OTFMMjMuNTkzNCA0My4xMDA5WiIgZmlsbD0iYmxhY2siIC8+Cjwvc3ZnPgo=);
    width: 64px;
    height: 40px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: 0.2s ease-in-out;
    content: '';
}
.slick-next:before {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB3aWR0aD0iNjciIGhlaWdodD0iNDQiIHZpZXdCb3g9IjAgMCA2NyA0NCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNNDMuNDA2NiAwLjg5OTA0OEw2Ni4yMDg1IDIyTDQzLjQwNjYgNDMuMTAwOUw0MS4zNjkgNDAuODk5TDYwLjE3MDYgMjMuNUgwVjIwLjVINjAuMTcwNkw0MS4zNjkgMy4xMDA5TDQzLjQwNjYgMC44OTkwNDhaIiBmaWxsPSJibGFjayIgLz4KPC9zdmc+Cg==);
    width: 64px;
    height: 40px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: 0.2s ease-in-out;
    content: '';
}
section {
    padding: 70px 0;
}
@media (max-width: 991px) {
    section {
        padding: 40px 0;
    }
}
section.lastNews {
    background-color: #E6EBE6;
}
.slick-slide > div {
    margin: 0 10px;
}
.slick-list {
    margin: 0 -10px;
}
.slick-dots {
    bottom: 0;
    margin: 50px auto 0 auto;
    list-style: none;
    text-align: center;
    display: flex !important;
    width: 100%;
    position: static;
    max-width: 768px;
    transition: .3s opacity;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    max-width: 100%;
    height: 20px;
    margin: 0 0;
    padding: 0;
    cursor: pointer;
    width: auto;
    flex-basis: 0;
    flex-grow: 1;
    transition: 0.2s ease-in-out;

}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 100%;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: 0 0;
}
.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    content: '';
    text-align: center;
    border-bottom: 2px solid;
}
.slick-dots li button:focus:before, .slick-dots li button:hover:before {
     opacity: .75;
}

.last-post {
    position: relative;
    margin-bottom: 0px;
    overflow: hidden;
}
.last-post-img {
    /*width: calc(100% - 12.5%);*/
    height: 280px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 15px;
}
/*.main-item_news-section {*/
/*    background-color: #000;*/
/*}*/
.last-post-text-title {
    transition: .2s ease-in-out;
    overflow: hidden;
    display: -moz-box;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #fff;
    width: calc(100% - 12.5%);
    transition: 0.2s ease-in-out;
}
.main-item_news-content-date {
    margin: 15px 0 10px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: #fff;
    opacity: 0.5;
}
.main-item_content {
    border-top: 2px solid #fff;
}
.main-item_content-title {
    transition: .2s ease-in-out;
    overflow: hidden;
    display: -moz-box;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -moz-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    margin-top: 10px;
    margin-bottom: 72px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #fff;
    transition: 0.2s ease-in-out;
}