.nav-absolute {
  position: absolute;
  width: 100%;
  z-index: 1030;
}
/*@media(max-width: 768px) {*/
/*  html body .navbar-collapse {*/
/*    overflow: hidden;*/
/*    height: 100vh;*/
/*  }*/
/*  body .navbar.nav-absolute {*/
/*    visibility: visible;*/
/*    transform: translate3d(0, 0, 0);*/
/*    transition: visibility 0s linear 0s,transform 800ms cubic-bezier(0.535, 0, 0, 1) 0s;*/
/*    !*position: fixed;*!*/
/*    !*top: 0;*!*/
/*    !*bottom: 0;*!*/
/*    right: 0;*/
/*    left: 0;*/
/*    background: #E7EEF3;*/
/*    z-index: 10;*/
/*    overflow: hidden;*/
/*  }*/
/*}*/
.navbar-light .navbar-nav .nav-link {
  color: rgb(0, 0, 0);
  border-bottom: 2px solid transparent;
  font-size: 13px;
  line-height: 20px;
}
.navbar-light .navbar-nav .nav-item {
  padding: 0 10px;
}

.navbar-light .navbar-nav .active {
  border-bottom-color: rgb(0, 0, 0);
  transition: 0.2s ease-in-out;
}
.navbar-nav .dropdown-menu {
  width: 100%;
  transition: 0.2s ease-in-out;
}
.dropdown-item {
  /*padding: 0;*/
  font-size: 13px;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.dropdown-item .nav-link {
  padding: 0.25rem 0rem !important;
}
.site-logo img {
  float: left;
  margin-right: 12px;
  max-width: 65px;
}
.logo-text {
  float: left;
  margin-top: 0;
  line-height: 1;
  letter-spacing: -0.03em;
}
.logo-title {
  font-size: 17px;
  font-weight: 700;
  color: #f25d23;
}
.logo-sub-title {
  font-size: 12px;
  font-weight: 700;
  color: black;
}
.navbar-toggler {
  font-size: 0;
  z-index: 1030;
}
.navbar-toggler:hover span,
.navbar-toggler:focus span {
  width: 25px;
}
.navbar-toggler span {
  display: block;
  background-color: #4f4f4f;
  height: 3px;
  width: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  left: 0;
  opacity: 1;
  transition: all 0.35s ease-out;
  transform-origin: center left;
}

.navbar-toggler span:nth-child(1) {
  margin-top: 0.3em;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  transform: translate(15%, -33%) rotate(45deg);
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  transform: translate(15%, 33%) rotate(-45deg) ;
}

.navbar-toggler span:nth-child(1) {
  transform: translate(0%, 0%) rotate(0deg) ;
}

.navbar-toggler span:nth-child(2) {
  opacity: 1;
  width: 17px;
}
.navbar-toggler:not(.collapsed) span:nth-child(2):hover  {
  opacity: 0;
  width: 25px;
}
.navbar-toggler span:nth-child(2):hover  {
  opacity: 1;
  width: 25px;
}
.navbar-toggler span:nth-child(3) {
  transform: translate(0%, 0%) rotate(0deg) ;
}
@media (min-width: 992px) {
  .nav-absolute:after {
    display: block;
  }

  .nav-absolute > .container-md:after {
    content: '';
    position: absolute;
    display: none;
    background-color: #000;
    height: 2px;
    left: 15px;
    right: 15px;
    bottom: 0;
  }
}