@font-face {
    font-family: 'e-Ukraine-Bold';
    src: url('e-Ukraine-Bold.eot');
    src: url('e-Ukraine-Bold.eot?#iefix') format('embedded-opentype'),
    url('e-Ukraine-Bold.ttf') format('truetype'),
    url('e-Ukraine-Bold.woff') format('woff'),
    url('e-Ukraine-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine-Light';
    src: url('e-Ukraine-Light.eot');
    src: url('e-Ukraine-Light.eot?#iefix') format('embedded-opentype'),
    url('e-Ukraine-Light.ttf') format('truetype'),
    url('e-Ukraine-Light.woff') format('woff'),
    url('e-Ukraine-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine-Regular';
    src: url('e-Ukraine-Regular.eot');
    src: url('e-Ukraine-Regular.eot?#iefix') format('embedded-opentype'),
    url('e-Ukraine-Regular.ttf') format('truetype'),
    url('e-Ukraine-Regular.woff') format('woff'),
    url('e-Ukraine-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}